h1{
    text-align: center;
}

h2{
    font-weight: bold;
    color: white;
    margin:auto;
    padding: 20px;
    font-size: 30px;
}

ion-card{
    width: 90%;
}

ion-card-header{
    background-color: rgb(29, 83, 165);
    box-shadow: 0px 2px 0px rgba(0,0,0.3);
}