

ion-title {
    margin-right: 35px;
}

ion-card {
    background: #2d2833;  /* fallback for old browsers */
}

ion-button{
    display: flex;
    justify-content: center;
}

ion-card-title.card-title{
    text-align: center;
}

ion-card-subtitle.card-subtitle{
    text-align: center;
}

ion-card-title.modals{
    text-align: center;
}

h4.j-visi{
    color: white ;
}

h4.j-misi{
    color: white ;
}

p.j-misi{
    color: white ;
}
p.j-visi{
    color: white ;
}